---
import Hero from "../components/home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/home/Testimonials.astro";
import Services from "../components/home/Services.astro";
import Cta2 from "../components/home/Cta2.astro";
import dimonds from "../assets/dimonds.svg";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import mockimage from "../../public/placeholder-about.jpg";
import romboids from "../assets/romboids.png";
import d20s from "../assets/newFigures/d20s.svg";
import dimonds2 from "../assets/newFigures/dimonds.svg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="h-screen overflow-x-clip">
      <Hero />

      <Testimonials />

      <Services />

      <Cta2 />

      <section id="about-us" class="content relative pt-16 lg:pt-24">
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-10">
          <figure class="col-span-2 hidden lg:block">
            <img src={d20s} alt="about us" />
          </figure>
          <div class="col-span-3">
            <h2
              class="text-start max-w-7xl mx-auto text-3xl md:text-5xl font-bold"
            >
              About us
            </h2>
            <p class="max-w-7xl mx-auto mt-4 md:mt-6">
              Our software house is a team of dedicated professionals who are
              passionate about using technology, including blockchain, to make a
              positive impact on the world.
              <br /><br />
              We believe in taking on challenges and striving to create innovative
              solutions that drive change.
              <br /><br />
              With years of experience in the industry, we have the skills and expertise
              to deliver top-quality software, including blockchain applications,
              that meets the needs of our customers.
              <br /><br />
              We are committed to staying up-to-date with the latest technologies
              and best practices in order to provide the best possible service.
              <br /><br />
              At our software house, we take our responsibilities seriously and strive
              to be a trusted partner for our customers. We are dedicated to building
              strong, long-lasting relationships and delivering value with every
              project.
              <br /><br />
              Thank you for considering us for your software development needs. We
              look forward to working with you!
            </p>
          </div>
        </div>
      </section>

      <section class="content relative mt-16">
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-24">
          <div class="col-span-3">
            <h2
              class="text-start max-w-7xl mx-auto text-3xl md:text-5xl font-bold"
            >
              Enterprise solutions for your blockchain project
            </h2>
            <p class="max-w-7xl mx-auto mt-4 md:mt-6">
              Our team has the expertise and experience to help you succeed. We
              offer a range of enterprise solutions that are tailored to meet
              the specific needs of your business.
              <br /><br />
              Our enterprise solutions are designed to be scalable, reliable, and
              secure, ensuring that your blockchain project runs smoothly and achieves
              your desired outcomes.
              <br /><br />
              Whether you're looking to streamline internal processes, increase transparency
              and accountability, or create new revenue streams, we have the expertise
              to help you reach your goals.
              <br /><br />
              We take a consultative approach working with our clients, taking the
              time to understand your business needs and objectives. From there,
              we work with you to develop a customized solution that meets your specific
              requirements.
            </p>
          </div>
          <img
            class="hidden lg:block col-span-2"
            src={dimonds2}
            alt="dimonds"
          />
        </div>
      </section>

      <!-- <div class="h-screen"></div> -->
      <Footer />
    </div>
  </main>
</Layout>
