---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ArticlesSection from "../components/home/ArticlesSection.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="h-screen overflow-x-clip">
      <ArticlesSection />
      <Footer />
    </div>
  </main>
</Layout>
