---
import { CheckCircle } from "../../assets/icons";
---

<div class="bg-light/20">
  <section class="content relative py-16 text-center">
    <h2
      class="max-w-3xl mx-auto text-3xl lg:text-4xl font-bold text-center mb-10"
    >
      Bring your blockchain ideas to life with our expert development team
    </h2>
    <button class="btn-default hover:bg-light/25">Book a consultation</button>
    <div
      class="lg:flex items-center justify-between mt-16 space-y-8 lg:space-y-0"
    >
      <div class="flex items-center justify-start text-start gap-4">
        <CheckCircle size={24} />
        <p class="text-sm opacity-80 max-w-xs">
          Leverage our expertise and experience to bring your blockchain ideas
          to fruition
        </p>
      </div>
      <div class="flex items-center justify-start text-start gap-4">
        <CheckCircle size={24} />
        <p class="text-sm opacity-80 max-w-xs">
          Benefit from our cutting-edge development capabilities and innovative
          approach
        </p>
      </div>
      <div class="flex items-center justify-start text-start gap-4">
        <CheckCircle size={24} />
        <p class="text-sm opacity-80 max-w-xs">
          Trust in our commitment to delivering high-quality, reliable, and
          scalable solutions
        </p>
      </div>
    </div>
  </section>
</div>
