---
import ellipse from "../../assets/ellipseBlue.svg";
---

<section class="content relative mt-8 md:mt-16">
  <img
    class="absolute -right-52 -top-20 -z-20 opacity-40 lg:opacity-100"
    height="750px"
    width="750px"
    src={ellipse}
    alt="ellipse"
  />
  <h1 class="max-w-2xl text-3xl md:text-5xl font-bold">
    From great <i class="text-secondary">tech</i>
    comes great <span class="text-secondary">responsibility</span>
  </h1>
  <p class="max-w-xl mt-4 md:mt-6 tracking-tight">
    We prioritize building reliable and resilient systems. Our solutions are
    designed to withstand challenges and remain available, no matter what.
  </p>
  <button
    class="text-light font-semibold bg-light/20 hover:bg-light/25 py-3 px-8 mt-8"
  >
    Book a consultation</button
  >
</section>
