---
import ferro from "../../assets/ferro-nobg.png";
---

<div class="hero min-h-[60vh] bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src={ferro} class="max-w-xs lg:max-w-md" />
    <div>
      <h1 class="text-5xl font-bold">Rent supercars!</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
