---
import ferro from "../../assets/ferro-full.jpg";
---

<div class="relative min-h-screen" style={{ backgroundImage: ferro }}>
  <img src={ferro} alt="ferro" class="hero min-h-screen object-cover" />
  <div class="hero-overlay bg-white/20 absolute inset-0"></div>
  <div
    class="absolute inset-x-0 inset-0 mx-auto text-center flex flex-col justify-start items-center mt-8"
  >
    <div class="max-w-md bg-white/60 p-4">
      <h1 class="mb-5 text-5xl font-bold">
        Grand Turismo rent in ITALY & EUROPE
      </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
